<div class="container">
  <div class="row">
    <h3 class="display-3">Learn latin with magister! </h3>

  </div>
  <div class="row">
    <p *ngIf="!auth.isAuthenticated()" class="text-muted">You don't seem to be logged in yet:

    </p>
    <button class="btn btn-primary align-middle"
            (click)="auth.login()">Log in here
    </button>
  </div>
  <div *ngIf="lists" class="row">

    <div *ngIf="lists.length>0" class="col-12 card-columns mt-2">
      <div *ngFor="let list of lists">
        <app-list-card [list]="list"></app-list-card>
      </div>
    </div>
    <div *ngIf="lists.length == 0">
      <p>You don't seem to have started learning any lists yet. To start, click <a href="/lists">here to search</a></p>
    </div>
  </div>
</div>
