<li class="nav-item dropdown" *ngIf="auth.isAuthenticated()">
  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false">
    {{profile?.nickname }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/profile">My Profile</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#" (click)="auth.logout()">Log out</a>
  </div>
</li>
<li class="nav-item" *ngIf="!auth.isAuthenticated()">
  <a class="nav-link" href="#" (click)="auth.login()">Log in</a>
</li>
