<div class="container" *ngIf="list">
  <div class="row mb-4">
    <div class="col-6"><h2>Learning {{list.name}}, on section {{section.name}}</h2></div>
    <div class="col-3"></div>
    <div class="col-3">
      <!--TODO: settings-->
      <button (click)="alert('Sorry, we haven\'t implemented settings yet')" class="btn">Settings</button>
    </div>
  </div>
  <div class="row">
    <!--Show tests as cards-->
    <div class="col-8">
      <ul class="list-group">
        <li class="list-group-item align-items-center" *ngFor="let test of tests; index as i" (click)="markActive(i)">
          <div class="d-flex justify-content-between">
            <h4>{{test.Prompt}}</h4>
            <span class="badge" [ngClass]="setBadgeClasses(i)">{{this.statusDisplays.get(test.Status)}}</span>
          </div>
          <div *ngIf="test.Current">
            <span class="badge badge-pill badge-info mb-1" *ngFor="let tag of test.Tags">{{tag}}</span>
            <span *ngIf="test.Status == testStatus.Wrong">{{test.Answers.join(", ")}}</span>
            <form class="form-inline mt-2" action="">
              <input type="text" class="mr-2" placeholder="Your answer" #answer (submit)="checkTest(i, answer.value)">
              <button class="btn btn-primary p-1" (submit)="checkTest(i, answer.value)"
                      (click)="checkTest(i, answer.value)">>
              </button>
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <h5>Help</h5>
      <ul>
        <li> Work your way down the list, selecting each word as you go.</li>
        <li>Type your answer into the input shown under the word you have selected.</li>
        <li>If it is right, the indicator on the left will change, and you will be moved on to the next word.</li>
        <li>If it is wrong, the correct answer will be displayed, and you should type in the correct answer. When you
        have done so, you can move on to the other words in this section.</li>
        <li>Click the finish button at the bottom to exit this page. Revision progress is saved per word automatically</li>
      </ul>
    </div>

  </div>
</div>
