<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Let's get started on this!</h1>
      <p>You've got 3 options to start working on a list:</p>

    </div>
  </div>
  <div class="row">
    <table class="table" style="border-collapse: collapse">
      <tr>
        <td class="left-table-cell"><h3>1. Start afresh</h3></td>
        <td><h3>2. Take it in a new direction</h3></td>
      </tr>
      <tr>
        <td class="left-table-cell">
          <p>Start with an entirely blank list, and add words to your heart's content.
            NB: you can import lists of words from excel from the list editor.</p>
        </td>
        <td>
          <p>Clone a preexisting list so that you can modify your copy however you like.
            After that, you can add, remove and import words in the list editor.
          </p>
        </td>
      </tr>
      <tr>
        <td class="left-table-cell">
          <button class="btn btn-primary" data-toggle="modal" data-target="#createNewModal">Create</button>
        </td>
        <td>
          <button class="btn btn-primary" data-toggle="modal" data-target="#cloneModal">Clone</button>
        </td>
      </tr>
    </table>
    <div class="col-5">


    </div>
    <div class="col-2"></div>
    <div class="col-5">


    </div>
  </div>
</div>


<div id="createNewModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createNewTitle">New List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="list-name" class="col-form-label">Name:</label>
            <input #createName type="text" class="form-control" id="list-name">
          </div>
          <div class="form-group">
            <label for="list-description" class="col-form-label">Description:</label>
            <input type="text" #createDesc class="form-control" id="list-description"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="createNew(createName.value, createDesc.value)">Create list
        </button>
      </div>
    </div>
  </div>
</div>
<div id="cloneModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cloneTitle">Clone a List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="clone-list-name" class="col-form-label">Name of your new list:</label>
            <input #cloneName type="text" class="form-control" id="clone-list-name">
          </div>
          <div class="form-group">
            <label for="clone-list-description" class="col-form-label">Description for your new list:</label>
            <input type="text" #cloneDesc class="form-control" id="clone-list-description"/>
          </div>
          <div class="form-group">
            <label for="clone-list-id" class="col-form-label">The ID of the list you'd like to clone:</label>
            <input type="number" #cloneListID class="form-control" id="clone-list-id"/>
            <!--TODO: update to use a select w/ database backing-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="cloneList(cloneName.value, cloneDesc.value, cloneListID.value)">Clone list
        </button>
      </div>
    </div>
  </div>
</div>
