<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Let's get started on this!</h1>
      <p>You've got 3 options to start working on a list:</p>

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>1. Start afresh</h3>
      <p>Start with an entirely blank list, and add words to your heart's content</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#createNewModal">Create</button>
    </div>
    <div class="col-4">
      <h3>2. Import a list</h3>
      <p>Import a list of words you'd like to add, and we'll process it and add each to your new list</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#importModal">Import</button>
    </div>
    <div class="col-4">
      <h3>3. Take it in a new direction</h3>
      <p>Clone a preexisting list so that you can modify your copy however you like.</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#cloneModal">Clone</button>
    </div>
  </div>
</div>


<div id="createNewModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createNewTitle">New List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="list-name" class="col-form-label">Name:</label>
            <input #createName type="text" class="form-control" id="list-name">
          </div>
          <div class="form-group">
            <label for="list-description" class="col-form-label">Description:</label>
            <input type="text" #createDesc class="form-control" id="list-description"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createNew(createName.value, createDesc.value)">Send
          message
        </button>
      </div>
    </div>
  </div>
</div>
<div id="importModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importTitle">Import data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="import-list-name" class="col-form-label">Name:</label>
            <input #importName type="text" class="form-control" id="import-list-name">
          </div>
          <div class="form-group">
            <label for="import-list-description" class="col-form-label">Description:</label>
            <input type="text" #importDesc class="form-control" id="import-list-description"/>
          </div>
          <div class="form-group">
            <label for="import-list-data" class="col-form-label">The data you'd like to import:</label>
            <textarea #importData class="form-control" id="import-list-data"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                (click)="importDataToList(importName.value, importDesc.value, importData.value)">Send
          message
        </button>
      </div>
    </div>
  </div>
</div>
<div id="cloneModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cloneTitle">Clone a List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="clone-list-name" class="col-form-label">Name of your new list:</label>
            <input #cloneName type="text" class="form-control" id="clone-list-name">
          </div>
          <div class="form-group">
            <label for="clone-list-description" class="col-form-label">Description for your new list:</label>
            <input type="text" #cloneDesc class="form-control" id="clone-list-description"/>
          </div>
          <div class="form-group">
            <label for="clone-list-id" class="col-form-label">The ID of the list you'd like to clone:</label>
            <input type="number" #cloneDesc class="form-control" id="clone-list-id"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="cloneList(cloneName.value, cloneDesc.value)">Send
          message
        </button>
      </div>
    </div>
  </div>
</div>
